.text-title {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 18px;

  color: #000000;
}

.text-large {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;

  color: #000000;
}

.text-light {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;

  color: #808080;
}

.text-normal {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;

  color: #19191a;
}

.text-label {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 8px;

  color: #19191a;
}
