.app {
  display: flex;
  flex-direction: row;
  width: 680px;
}

.app__side,
.app__content {
  padding: 32px;
}

.app__side {
  background: #cdcdcd;
  box-sizing: border-box;
  width: 180px;
}

.app__side-content {
  position: sticky;
  top: 0;
}

.app__content {
  background: #ffffff;
  flex-grow: 1;
}

.app__content > *:not(:last-child) {
  margin-bottom: 32px;
}
