.app {
  display: grid;
  width: var(--layout-total-width);
  grid-template-columns: var(--layout-side-width) auto;
}

.app__side-title,
.app__side-content {
  background: var(--theme-neutral-light2);
}

.app__main-title,
.app__main-content {
  background: var(--theme-neutral-light10);
}

.app__main-title {
  padding-top: var(--layout-spacing-large);
}

.app__side-content-inner,
.app__main-content {
  padding: var(--layout-spacing-large);
}

.app__side-content-inner {
  position: sticky;
  top: 0;
}

.app__side-content-inner > *:not(:last-child) {
  margin-bottom: var(--layout-spacing-medium);
}
