/* link-button */
.link-button {
  text-decoration: none;
  border-radius: 2px;
  color: var(--theme-primary-normal);
}

.link-button:hover {
  cursor: pointer;
  color: var(--theme-primary-saturated);
  background-color: var(--theme-primary-light);
}

/* list */
.list > *:not(:last-child) {
  margin-bottom: var(--layout-spacing-medium);
}

/* list-item */
.list-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(3, auto);
  column-gap: 8px;
  row-gap: 4px;

  list-style-type: none;

  background: var(--theme-neutral-light3);
  border-radius: 8px;
  padding: 8px 16px;
}

.list-item__value-fullname {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.list-item__value-city {
  grid-column: 2 / span 2;
  grid-row: 2;
}

.list-item__label {
  text-align: right;
  color: var(--theme-neutral-light);
}
