/* user-form */
.user-form > *:not(:last-child) {
  margin-bottom: 16px;
}

.user-form__fields {
  border: 1px solid var(--theme-neutral-light2);
  border-radius: 8px;
  padding: 12px;
}

.user-form__fields > *:not(:last-child) {
  margin-bottom: 8px;
}

.user-form__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.user-form__buttons > button {
  display: flex;
  gap: 4px;
  justify-content: center;
  line-height: 1;
  width: 100px;
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  color: var(--theme-neutral-normal);
  border: 1px solid currentColor;
}

.user-form__buttons > button:hover {
  cursor: pointer;
  background-color: var(--theme-neutral-light2);
}

.user-form__buttons > button:active {
  cursor: pointer;
  background-color: var(--theme-neutral-light2);
  color: var(--theme-neutral-dark);
  border-color: currentColor;
}

.user-form__buttons > button.user-form__apply {
  color: var(--theme-primary-normal);
  border-color: currentColor;
}

.user-form__buttons > button.user-form__apply:hover {
  background-color: var(--theme-primary-light);
}

.user-form__buttons > button.user-form__apply:active {
  background-color: var(--theme-primary-light);
  color: var(--theme-primary-dark);
  border-color: currentColor;
}

.user-form__buttons > button.user-form__remove {
  color: var(--theme-danger-normal);
  border-color: currentColor;
}

.user-form__buttons > button.user-form__remove:hover {
  background-color: var(--theme-danger-light);
}

.user-form__buttons > button.user-form__remove:active {
  background-color: var(--theme-danger-light);
  color: var(--theme-danger-dark);
  border-color: currentColor;
}

/* user-form-field */
.user-form-field {
  display: flex;
  flex-direction: column;
}

.user-form-field > span {
  margin-bottom: 2px;
}

.user-form-field > input,
.user-form-field > textarea {
  border: 1px solid var(--theme-neutral-light);
  border-radius: 4px;
  padding: 6px 8px;
}

.user-form-field > input {
  width: 220px;
}

.user-form-field > textarea {
  resize: none;
  height: 72px;
}
