.icon-button {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  line-height: 1;

  border: none;
  border-radius: 8px;
  background-color: transparent;
  padding: 4px 8px;
  color: var(--theme-primary-normal);
}

.icon-button__label {
  color: var(--theme-neutral-dark);
}

.icon-button:hover {
  cursor: pointer;
  color: var(--theme-primary-saturated);
  background-color: var(--theme-primary-light);
}

.icon-button:active {
  color: var(--theme-primary-dark);
}
